body { 
    background: #8B0000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

#formulario input {
  width: 200px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
}

.form-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    
    width: 90%;          
    max-width: 400px;  
    
    color: #8B0000;
    border: 3px solid #ff0000;
}
.header { 
    display: flex;
    align-items: center;
    justify-content: flex-start; /* garante que fica à esquerda */
    gap: 10px;
}

.back-arrow {
    color: #ff0000; /* vermelho visível */
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; /* importante */
}

.back-arrow:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.header h1 { 
    font-size: 35px;
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
}

label { 
    margin-bottom: 5px;
    font-size: 20px;
    color: #8B0000;
}

input { 
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    font-size: 15px;
}

button { 
    background-color: #ff0000; /* vermelho forte */
    color: #ffffff;
    border: none;
    padding: 10px;  
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover { 
    background-color: #cc0000; /* vermelho mais escuro */
}

@media (max-width:400px) { 
    .login-box { 
      width: 90%;
      padding: 20px;
      margin: 0 auto;
    }
}