body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

label {
    font-weight: bold;
    color: #0A2540;
    margin-bottom: 5px;
}

.topo {
    background-color: #0A2540;
    color: white;
    text-align: center;
    padding: 15px;
}

.caixa-pesquisa {
    display: flex;
    gap: 10px;
    width: 100%;

    background: #f0f4f8;
    padding: 10px 15px;
    border-radius: 30px;

    max-width: 500px;
    border: 2px solid #0A2540;
}

.legenda {
    margin-bottom: 10px;
    font-weight: bold;
    color: #0A2540;
    letter-spacing: 1px;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.caixa-externa {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 90%;
    max-width: 400px;

    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h2 {
    color: #0A2540;
}

/*INPUT */
#pedido {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

/*  BOTÃO PESQUISAR */


#enviar {
    background-color: #0A2540;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}

#enviar:hover {
    background-color: #133d66;
}

/*  BOTÃO CADASTRO */


#botao-tela-principal {
    background-color: #0A2540;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

#botao-tela-principal:hover {
    background-color:  #ff0000;
}



.rodape {
    background-color: #0A2540;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
