body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
 }

 header {
    text-align: right;
    background-color: #255E6D;
    padding: 2px;
    }
 header nav ul li {
    display: inline;
    margin: 15px;
    }

h1 {
    text-align: center;
}

#pedido {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 30px;
    position: relative;
        right: 25%;
       
}
#enviar {
    background-color: #255E6D;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
       position: relative;
        right: 25%;
        
}
#enviar:hover {
    background-color: #9aebff;
}   

button { 
    background-color: #255E6D;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

.contato {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

button:hover { 
    background-color: #9aebff;
   }

.form-container {
    text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 .caixa {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 350px;
    height:250px;
 background: #255E6D; 
 margin: 100px auto;
}
